html {
  background-color: lightgray;
}
p {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.user-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 626px;
  height: 84px;
  background: #FFFFFF;
  border-radius: 0px 0px 41px 41px;
  margin: 0 auto;
}

.avatar {
  width: 60px;
  height: 60px;
  margin-left: 2em;
}

.weather-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 479px;
  height: 403px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 4em;
  padding: 2em;
}
.line {
  margin: 1em 0;
  width: 294px;
  height: 0px;
  border: 1px solid #161616;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}